.map-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  position: relative;
  width: 80%;
}

.map-image {
  width: 100%;
  border-radius: 10px;
}

/* Info section */
.map-info {
  width: 80%;
  margin-top: 30px;
  text-align: left;
}

.map-info h2 {
  margin-bottom: 5px;
}

.subtext {
  color: gray;
  margin-bottom: 20px;
}

.building {
  margin-bottom: 20px;
}

.building h3 {
  margin-bottom: 5px;
}

.building ul {
  padding-left: 20px;
}